<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Fide News</title>
    </head>
    <body style="background-color: #43a39f">
        <header th:replace="layout/plantilla :: header"/>
        
      <section th:replace="chat/fragmentosChat :: botonesAgregar"/>
      <section th:replace="chat/fragmentosChat :: listadoChats"/>
      <section th:replace="chat/fragmentosChat :: agregarChats"/>
        
      <footer th:replace="layout/plantilla :: footer"/>  
    </body>
</html>
