<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Fide News</title>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Datos de Anuncios</h2>
        <a th:href="@{/chat/listado}">Regresar</a>
        
        <hr>
        <form th:action="@{/chat/guardar}"
              method="post"
              th:object="${chat}">
            <input type="hidden" name="idChat" th:field="*{idChat}"/>

            

            <label for="mensaje">[[#{chats.mensaje}]]</label>
            <input type="text" name="mensaje" th:field="*{mensaje}"/>
            <br>
            <label for="imagen">[[#{chats.imagen}]]</label>
            <input type="text" name="imagen" th:field="*{imagen}"/>
            <br>
            <hr>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        </div>
    </body>
</html>
