<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Noticias Internacionales</h2>
        <a th:href="@{/noticias_internacionales/nuevo}">Nueva Noticia Internacional</a>
        <br/>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Titular</th>
                    <th>Resumen de la Noticia</th>
                    <th>Noticia</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="nacionales : ${nacionales}">
                    <td th:text="${nacionales.nombre}"></td>
                    <td th:text="${nacionales.resumen}"></td>
                    <td th:text="${nacionales.noticia}"></td>

                    <td><a th:href="@{/noticias_internacionales/eliminar/}+${nacionales.id_notiinternacional}">Eliminar Noticia</a></td>
                    <td><a th:href="@{/noticias_internacionales/modificar/}+${nacionales.id_notiinternacional}">Modificar Noticia</a></td>
                </tr>
            </tbody>
        </table>
        </div>

        
    </body>
</html>

