<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #43a39f">
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>Noticias Internacionales</h2>
        <a th:href="@{/noticias_internacionales/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')">Nueva Noticia Internacional</a>
        <br/>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Titular</th>
                    <th>Resumen de la Noticia</th>
                    <th>Noticia</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="internacionales : ${internacionales}">
                    <td th:text="${internacionales.nombre}"></td>
                    <td th:text="${internacionales.resumen}"></td>
                    <td th:text="${internacionales.noticia}"></td>

                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/noticias_internacionales/eliminar/}+${internacionales.idNotiinternacional}">Eliminar</a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/noticias_internacionales/modificar/}+${internacionales.idNotiinternacional}">Modificar</a></td>
                </tr>
            </tbody>
        </table>
        </div>

        
    </body>
</html>

