<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: #43a39f">
        <header th:replace="layout/plantilla :: header"/>
        
       
         <div class="contenido">
<br/>
<br/>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4>
                                                [[#{internacional.Internacional}]]ㅤㅤㅤ<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/noticias_internacionales/nuevo}" class="btn btn-success "  ><i class='fas fa-newspaper'></i>[[#{internacional.NuevaNoticiaInternacional}]]</a></td>
                                            </h4>

                                        </div>

                                        <div class="card-body">


                                            <div th:if="${internacionales  != null and !internacionales.empty}">
                                                <table class="table table-striped">
                                                    <thead class="bg-danger text-white">
                                                        <tr>

                                                            <th>[[#{nacional.Titular}]]</th>
                                                            <th>[[#{nacional.ResumendelaNoticia}]]</th>
                                                            <th>[[#{nacional.Noticia}]]</th>
                                                            <th></th>
                                                            <th></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="internacionales,contador : ${internacionales}">
                                                            <td>[[${internacionales.nombre}]]</td>
                                                            <td>[[${internacionales.resumen}]]</td>

                                                            <td>[[${internacionales.noticia}]]</td>


                                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/noticias_internacionales/eliminar/}+${internacionales.idNotiinternacional}" class="btn btn-danger"><i class='fas fa-trash'></i> [[#{nacional.Eliminar}]]</a></td>
                                                            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/noticias_internacionales/modificar/}+${internacionales.idNotiinternacional}"class="btn btn-primary"><i class='fas fa-pencil'></i> [[#{nacional.Modificar}]]</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div th:if="${internacionales == null or internacionales.empty}">
                                                No tenemos lista de Noticias que mostrar...
                                            </div>
                                        </div>
                                        </did>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>

       <footer th:replace="layout/plantilla :: footer"/> 
    </body>
</html>


