<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Fide News</title>
    </head>
    <body style="background-color: #43a39f">
        
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
        <h2>[[#{internacional.NuevaNoticiaInternacional}]]</h2>
        <a th:href="@{/noticias_internacionales/listado}">[[#{nacional.regresar}]]</a>
        
        <hr>
        <form th:action="@{/noticias_internacionales/guardar}"
              method="post"
              th:object="${internacionales}">
            <input type="hidden" name="idNotiinternacional" th:field="*{idNotiinternacional}"/>
            
            <label for="nombre">[[#{nacional.Nombre}]]</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="resumen">[[#{nacional.Resumen}]]</label>
            <input type="resumen" name="resumen" th:field="*{resumen}"/>
            <br>
            <label for="noticia">[[#{nacional.Noticia}]]</label>
            <input type="text" name="noticia" th:field="*{noticia}"/>
            
            <hr>
            <input type="submit" name="guardar" value="[[#{usuarios.guardar}]]"/>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
