<!DOCTYPE html>

<html>
    <head>
        <title>Noticias Internacionales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <header>

        </header>



        <div class="fide">

            <img src="/img/fide News.png"  width="400"/>
            <div/>

            <div class="nacional">

                <img src="/img/internacional.png" alt="" width="1400"/>
                <div/>



                <div class="opacity">
                    <div class="placeholder2">
                        <a th:href="@{/noticias_nacionales/noticiasNacionales}">
                            <img src="/img/PlaceHolder.png" alt="" width="750"/>
                            <a/>
                            <div/>
                            <div/>



                        </body>
                        </html>
