<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Noticias Internacionales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="../../static/css/main.css" type="text/css">

    </head>
    <body>

        <header th:replace="layout/plantilla :: header">

        </header>



        <div class="fide">

            <img src="/img/fide News.png"  width="400"/>
            </div>

            <div class="nacional">

                <img src="/img/internacional.png" alt="" width="1400"/>
                </div>
                <div class="opacity">
                    <div class="placeholder2">
                        <a th:href="@{/noticias_nacionales/noticiasNacionales}">
                            <img src="/img/PlaceHolder.png" alt="" width="750"/>
                            <a/>
                            </div>
                            </div>


<footer th:replace="layout/plantilla :: footer"/>
                        </body>
                        </html>
