<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
        <title>Inicio Fide News</title>
    </head>
    <body style="background-color: #43a39f">
        
        <header th:replace="layout/plantilla :: header"/>
        <h2>[[#{usuarios.ListadeUsuariosRegistrados}]]</h2>
        <div>
        <a>[[#{usuarios.resgistrados}]]</a>
        <a th:href="@{/usuario/nuevo}">[[#{usuarios.AgregarUsuario}]]</a>
        <table border="1">
            <thead>
                <tr>
                    <th>[[#{usuarios.NombredeUsuario}]]</th>
                    <th>Email</th>
                    <th>Region</th>
                    <th>[[#{usuarios.Edad}]]</th>
                    <th>[[#{nacional.Eliminar}]]</th>
                    <th>[[#{nacional.Modificar}]]</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.region}"></td>
                    <td th:text="${usuario.edad}"></td>
                    
                    <td><a th:href="@{/usuario/eliminar/}+${usuario.idUsuario}">[[#{nacional.Eliminar}]]</a></td>
                    <td><a th:href="@{/usuario/modificar/}+${usuario.idUsuario}">[[#{nacional.Modificar}]]</a></td>

                </tr>
            </tbody>
        </table>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
