<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head>
        <title>Login Fide News</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <div class="form-body">
        <h2>[[#{usuarios.RegistrodelnuevoLector}]]</h2>
        <br>
        <a th:href="@{/}"><input type="button" value="[[#{usuarios.regresar}]]"></a>
        <br>
        <hr>
        <form th:action="@{/usuario/guardar}"
              method="post"
              th:object="${usuario}">
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            <br>
            <label for="nombre">[[#{plantilla.Usuario}]]</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="email">[[#{usuarios.Correoelectronico}]]</label>
            <input type="email" name="email" th:field="*{email}"/>
            <br>
            <label for="contraseña">[[#{usuarios.contraseña}]]</label>
            <input type="password" name="contraseña" th:field="*{contraseña}"/>
            <br>
            <label for="region">[[#{usuarios.Regionopais}]]</label>
            <input type="text" name="region" th:field="*{region}"/>
            <br>
            <label for="edad">[[#{usuarios.Edad}]]</label>
            <input type="number" name="edad" th:field="*{edad}"/>
            <br>
            <hr>
            <br>
            <input type="submit" name="guardar" value="[[#{usuarios.guardar}]]"/>
            <br>
        </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
