<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <link href="/css/style.css" rel="stylesheet" type="text/css"/>        
        <title>Inicio Fide News</title>
    </head>
    
    <body>
        

        <div class="fide">

            <img src="/img/fide News.png"  width="400"/>
            <div/>

        
        <div>
        <div class="tabla">
        <div class="form-body" >
            
            
            <p class="text">Bienvenido de vuelta Lector</p>
            <form class="login-form">

                <label for="email">Email o correo electrónico:</label>
                <input type="text" name="email"/>
                <br>
                <label for="contraseña">Contraseña:</label>
                <input type="password" name="contraseña"/>
                <br>
                <br>
                <hr>
                <br>
                
                <a th:href="@{/usuario/nuevo}"><input type="button" value="Nuevo Usuario"></a>

                <br>
                
                <hr>
            </form>
        </div>

        <br>
        <br>
        <br>
        
        <div class="vamos">
                    <a th:href="@{/noticias_nacionales/noticiasNacionales}">
                           <img src="/img/Vamos.png" alt="rfff" width="250"/>
                     </div>
    </body>
</html>
